<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Regon:</strong>
  <%= @organisation.regon %>
</p>

<p>
  <strong>City:</strong>
  <%= @organisation.city %>
</p>

<p>
  <strong>Volontary:</strong>
  <%= @organisation.volontary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organisation.description %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
