<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @individual.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @individual.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @individual.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @individual.city %>
</p>

<p>
  <strong>Volontary:</strong>
  <%= @individual.volontary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @individual.description %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
